*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;    
}

html{
    background-color: #e6ebef;
}

.bg-grey{
    background-color: #e6ebef;
}

.object{
    padding: 2%;
}

.description{
    padding-top: .5%;
    font-size: 22px;    
}

// override default bootstrap styling of breadcrumbs
.breadcrumb{
    margin-bottom: 0 !important;
}

// display pointer hand on hover over images which are links
.img-link{
    cursor: pointer;
}

#image {
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}

@media (max-width: 767.98px) {
    #image {
        width: 95%;
    }
}