#image {
    width: 1100px;
    height: 550px;
    border: 1px solid black;
}

div {
    font-size: 20px;
    font-family: monospace;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}