<div class="flex-container bg-grey">
  <div id="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 main-content">

        <section id="image">
          <a href="">
            <img [src]="floor$.link" class="rounded" alt="floor-plan" />
          
            <div id="txt1" routerLink="room/1"> </div>
            <div id="txt2" routerLink="room/2"> </div>
            <div id="txt3" routerLink="room/3"> </div>
            <div id="txt4" routerLink="room/4"> </div>
          </a>
        
        </section>
      </div>
    </div>
  </div>
</div>