.main-content {
	padding: 2% 5%;
	margin: 0 auto;
	max-width: 1160px;
}

#image {
    max-width: none;
	margin: 0 auto;
	position: relative;
}

#image a {
	display: inline-block;
}

#image img {
	position: relative;
	float: left;
	width: 100%;
}

#image div {    
  font-size: 48px;
  position: absolute;
  top: 0%;
  left: 0%;
}

@media (max-width: 991.98px) { 
    #image div {    
        font-size: 40px; 
    }
 }

@media (max-width: 767.98px) {
    #image div {    
        font-size: 35px; 
    }
 }

@media (max-width: 575.98px) { 
    #image div {    
        font-size: 26px; 
    }
 }

 @media (max-width: 399.98px) {
    #image div {    
        font-size: 21px; 
    } 
 }

 @media (max-width: 299.98px) {
    #image div {    
        font-size: 18px; 
    } 
 }