<!-- TODO: update to be responsive -->
<div class="flex-container bg-grey">
  <div class="container">
    <div class="row text-center">
      <div id="about" class="col-md-12 col-sm-12 col-xs-12">        
        <div id="social">
          <h1><strong>You can find me here</strong></h1>
          <a href="https://github.com/RobinTTY" target="_blank" rel="noopener">
            <img src="../../assets/images/social/github.svg" alt="Github" width="64"/>
          </a>
          <a href="https://twitter.com/Robin_tty" target="_blank" rel="noopener">
            <img src="../../assets/images/social/twitter.svg" alt="Twitter" width="64"/>
          </a>
        </div>
      </div>
      <div id="icons" class="col-md12 col-sm-12 col-xs-12">
        <h5><strong>Some of the Icons were provided by</strong></h5>
        <a href="https://icons8.com/icon/118527/icons8"><img src="https://img.icons8.com/dusk/64/000000/icons8-new-logo.png"></a>
        <p><strong>Icons8</strong></p>
      </div>
    </div>
  </div>
</div>