<div class="flex-container bg-grey">
  <strong>
    <ol class="breadcrumb">    
      <li class="breadcrumb-item"><a routerLink="">Buildings</a></li>
      <li class="breadcrumb-item"><a routerLink="/building/{{position.buildingId}}">Floors</a></li>
      <li class="breadcrumb-item active">Floor {{floorData.alias}}</li>   
    </ol>
  </strong>
  <h1 class="text-center main-header">Floor {{floorData.alias}}</h1>
  <div id="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 main-content">
        <section id="image" class="text-center">
          <a>
            <img [src]="floorData.link" id="wow" class="rounded" alt="floor-plan" />    
            <div *ngFor="let room of rooms" id="txt{{room.id}}" class="img-link" routerLink="room/{{room.id}}"> </div>
          </a>        
        </section>
      </div>
    </div>
  </div>
</div>