div {
    font-size: 16px;
    font-family: monospace;
}

.card{
    margin: 3% auto;
    float: none;    
}

.graph-card{
    width: 90%;
}

.locate-body{
    cursor: pointer;
}

.locate-body:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}