<nav class="navbar navbar-expand-sm navbar-dark navbar-inverse navbar-fixed-left bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="assets/images/Logo.png" width="30px" height="30px" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--  TODO: when home component exists update to buildings component not being exact -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Buildings</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>    
  </div>
</nav>