<div class="container">
<h1>Your monitored objects</h1>   
  <div class="container">

    
      
      <div *ngFor="let b of bData$">
        <div class="row">
          <div class="col">
            <div id="image">
              <img [src]="b.link" alt="image" routerLink="building/{{b.id}}" width=500px height=250px />
            </div>
            <a id="bottom-left" routerLink="building/{{b.id}}"><strong>{{ b.name }}</strong></a> 
          </div>           
        
    
      
          <div class="col">            
            wow
          </div>
        </div>
      </div>

  </div>
</div>