#iconlink {
    h1 {
        font-size: 20px;
    }

    a {
        text-decoration: none;
    }
}

p {
    font-size: 16px;
    margin: 0.2%;
    padding: 0.2%;
}

h1 {
    margin-top: 2%;    
    font-size: 26px;
}

.row > div {
    margin-top: 1.5%;
}

#and {
    font-size: 18px;
}

#div-roles > h1{
    font-size: 23px;
}